.containerProductoCarrrito {
    display: flex;
    width: 90vw;
    gap: 0.5rem;
    justify-content: center;
    padding-bottom: 1rem;
    margin: 0 auto;
}
.containerCarritoImg {
    width: 20%;
    align-self: center;
}
.carritoImg {
    width: 100%;
}
.containerProductoDescripcion {
    width: 75vw;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

}
.carritoNombre {
    font-size: 1rem;
}
.carritoCantidad {
    font-size: 1rem;
}
.carritoPrecio {
    font-size: 1rem;
}
.totalCartPage {
    display: flex;
    justify-content: end;
    padding-top: 2rem;
    width: 90vw;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.5rem;
}



@media (min-width: 768px) {
    .containerProductoCarrrito {
        width: 90vw;
        gap: 1rem;
    }
    .containerProductoDescripcion {
    align-self: center;
    }
    .carritoNombre {
        font-size: 1.5rem;
    }
    .carritoCantidad {
        font-size: 1.3rem;
    }
    .carritoPrecio {
        font-size: 1.3rem;
    }
    
}
@media (min-width: 1440px) {
    .containerProductoCarrrito {
        width: 80vw;
        gap: 1.5rem;
    }
    .totalCartPage {
        width: 80vw;
    }
}