footer {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    color: var(--color-terciario);
    font-weight: 600;
}
.containerFooterLogo {
    display: flex;
    gap: 1.5rem;
    align-self: center;
}
.containerimgLogoFooter {
    width: 4rem;
}
.footerLogo {
    width: 100%;
}
.containerDireccion {
    align-self: center;
}
.containerFooterLink {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    padding: 1.5rem 0;
}
.containerFooterPolicy {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.containerTermCondictions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    footer {
        flex-direction: row;
        width: 90vw;
        justify-content: space-between;
        margin: 0 auto;
    }
    .containerFooterLogo{
        flex-direction: column;
    }
    .footerLogo{
        align-items: center
    }
    .containerFooterLink {
        flex-direction: column;
    }
}
@media (min-width: 1440px) {
    footer {
        width: 70vw;
        position: absolute;
        bottom: 0;
        
    }
}