footer {
    display: flex;
    flex-direction: column;
    color: var(--color-terciario);
    font-weight: 600;
    position: absolute;
    bottom: 0;
    padding-bottom: 40px;
    width: 80vw;
    margin: 0 10vw;
}
.containerFooterLogo {
    display: flex;
    gap: 1rem;
    align-self: center;

}
.containerimgLogoFooter {
    width: 4rem;
}
.footerLogo {
    width: 100%;
}
.containerDireccion {
    align-self: center;
}
.containerFooterRedes {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    justify-content: space-around; 
    padding-top: 1rem;
}
.containerFooterLink {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}
.navFooter {
    color: var(--color-terciario);
    font-size: 1.2rem;
    transition: 500ms;

}
.navFooter:hover {
    color: var(--color-cuarto);
    text-decoration: underline;
}

.containerFooterPolicy {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.containerTermCondictions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

@media (min-width: 768px) {
    footer {
        flex-direction: row;
        width: 80vw;
        position: absolute;
        bottom: 0;
        margin: 0 10vw;
    }
    .containerFooterLogo{
        flex-direction: column;
        width: 20vw;
    }
    .containerFooterRedes{
        flex-direction: column;
        width: 20vw;
        gap: 0.7rem;
    }
    .containerFooterLink{
        flex-direction: column;
        width: 20vw;
    }
    .containerFooterPolicy{
        flex-direction: column;
        width: 20vw;
        align-self: center;
    }
}
@media (min-width: 768px) {
    .containerDireccion {
        align-self: flex-start;
}
}
