.containerForm {
    padding: 1rem;
    display: flex;
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90vw;
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4)
}
.formTitulo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-terciario);
}
.formLabel{
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-terciario);
    padding-top: 1.8rem;
}
.formInput {
    padding: 3px 8px 3px 8px;
    font-size: 1rem;
    height: 1.8rem;
    border-radius: 8px;
    border: 0.5px solid var(--color-cuarto);
    color: var(--color-cuarto);
    font-weight: 500;
}
.formInputMensaje {
    padding: 3px 8px 3px 8px;
    font-size: 1rem;
    border-radius: 8px;
    border: 0.5px solid var(--color-cuarto);
    color: var(--color-cuarto);
    font-weight: 500;
    height: 6rem;
    resize: none;
}
.fromContainerBtn{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 1.25rem;
}
.formBtn {
    width: 7.8rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: var(--color-cuarto);
    border-radius: 8px;
    border: none;
}

@media (min-width: 768px) {
    .containerForm {
        justify-content: center;
    }
    form {
        max-width: 45rem;
    }
}
